.DS_Store
.build/
DerivedData/
xcuserdata/
*.xcodeproj
!Packages/**/*.xcodeproj
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.ipa
*.dSYM.zip
*.dSYM
